@import "~bootstrap/scss/bootstrap";

body {
  background-color: aquamarine;
}

.hide {
  display: none;
}

.all-movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}